.*
!.gitignore
/gnucash
examples/
**/in/Monarch
**/out/
**/gncout/
**/logs/
**/venv/
**/Downloads
**/test*/
**/json*/
**/copy*/
**/bin/
*.py[cdo]
*.out
*.gnc*
*.gnucash
*.log
*.o
*.so
*.obj
*.bin
*.exe
*.x
app-files
# find <dir/>* -type l >> .gitignore
secret*
